
.container {
    width: 60%;
    margin: auto;
    padding: 2rem;
    background-color: white;
    margin-top: 8rem;
    border-radius: 23px 23px 23px 23px;
}

.container img {
    width: 50vw;
    height: 30vh;
    margin-left: 2rem;
    padding: 10px 10px 10px;
    border-radius: 9px 9px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}

.container h1 {
    border-bottom: 1px solid #8c7d7d;
    padding: 1rem;
    text-align: center;
}

.container ol li {
    padding: 1rem;
    color: #6383de;
}

@media (max-width: 1000px) {
    .container {
        width: 90%;
        font-size: 23px;
    }

    .container h4 {
        font-size: 30px;
        color: #5454e5;
        font-weight: bold;
    }

    .container ol li {
        font-size: 2rem;
    }

    .container div {
        font-size: 2rem;
    }
}

@media (max-width: 1400px) {

    .container img {
        display: none;
    }


}
